* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f8f9fb; }

.App {
  height: 100vh;
  display: flex; }

.MenuSection__container {
  background-image: url("/images/bg31.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.HomePageTextContainer {
  margin: 0 5em; }

.HomePageSubtitle {
  font-weight: 100 !important;
  color: #fff !important; }

.HomePageTitle {
  background: rgba(0, 0, 0, 0.5);
  color: #fff !important; }

@media (max-width: 700px) {
  .HomePageTextContainer {
    margin: 0; }
  .HomePageSubtitle {
    font-size: 1.5em !important; }
  .HomePageText {
    font-size: 5em !important; }
  .AgencyDetailsContainer {
    flex-direction: column !important; }
  .AdditionalFeatures {
    display: flex;
    flex-direction: column; } }

@media (max-width: 550px) {
  .TopInfoList {
    flex-direction: column; }
  .HomePageSubtitle {
    font-size: 1.2em !important; }
  .HomePageText {
    font-size: 4em !important; } }
